header {
  display: flex;
  flex: 1;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7rem;
  background-color: var(--color-primary-300);
  z-index: 10;
}

header > * {
  flex: 1;
  text-align: center;
}

header > h1 {
  font-size: 3.6rem;
}

header > div {
  font-size: 3.6rem;
}

header > p {
  font-size: 1.6rem;
}
